/******************************
      C O N T A I N E R
******************************/
* {
box-sizing: border-box;
}


.container {
position: relative;
width: 560px;
padding: 15px;margin: 0 auto;  border-radius: 6px;
background: #323e46;
box-shadow: inset 0px 0px 20px 20px rgba(0,0,0,1);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.director {
position: relative;
width: 100%;
margin-bottom: 1em;

/* this box shadow caused major frame rate drop when scrolling long pages */
/* box-shadow: inset 0px 100px 220px 70px rgba(0,0,0,.75); */
}

.director:hover {
z-index: 1;
}

.director-name {
font-size: 36px;
color: #fff;
text-shadow: 1px 1px 2px black;
position: absolute;
bottom: 160px;
left: 20px;
}

.director-photo-wrap {
min-height: 275px;
}

.director-photo {
width: 100%;
display: block;
}

.movie-list {
box-shadow: inset 10px -15px 37px -1px rgba(0,0,0,0.76);
display: flex;
justify-content: center;
align-items: baseline;
flex-direction: row;
transition: 200ms ease-in-out;
cursor: pointer;
min-height: 150px;
}

.movie-list:hover {
transform: scale(.99);
transition: 200ms ease-in-out;
}

.movie-list-item {
width: 20%;
}

.movie-list-item img {
display: block;
height: auto;
max-height: 150px;
width: 100%;
transition: 200ms ease-in-out;
border-radius: 2px;
}

.movie-list-item img:hover {
transform: scale(1.1);
}

/******************************
           L O G O
******************************/
.hollywood {
cursor: pointer;
color: white;
font-family: 'Graduate', cursive;
transform: scale(1.5);
display: flex;
justify-content: center;
align-items: center;
top: 0;
left: 0;
margin:0 auto;
width: 130px;
list-style-type: none;
padding: 10px;
}

.hollywood:hover li:nth-child(2n) {
margin-bottom: 3px;
transition: 300ms ease-in-out;
}

.hollywood li:nth-child(2n) {
margin-bottom: 0px;
transition: 300ms ease-in-out;
}
